<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MED.EDWebCam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MED.EDWebCam.Properties.Settings>
            <setting name="VideoCaptureLogger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderLogger" serializeAs="String">
                <value>False</value>
            </setting>
        </MED.EDWebCam.Properties.Settings>
        <MED.EDWebCam.Properties.Settings>
            <setting name="VideoCaptureLogger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderLogger" serializeAs="String">
                <value>False</value>
            </setting>
        </MED.EDWebCam.Properties.Settings>
    </userSettings>
</configuration>